@{
    ViewData["Title"] = "Home Page";
}

<h1>Movie Database</h1>

<p> Movies we have available.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action(null,"Movies")">
                    <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcRXMbT2GCsoREFMH_JiYtb85SPh9qM1tQenddYf25lvoEVyyOgx" alt="GhostBusters" style="width:100%" />
                    <div class="caption">
                        <p>Ghostbusters</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action(null,"Movies")">
                    <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcSt4AaH8aQNb6hrdHev-0J_xymlsy3aQDxGLXVDmU812etMBFRN" alt="Elf" style="width:100%" />
                    <div class="caption">
                        <p>Elf</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
